html {
  background: url(/sunset_from_balcony.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
  max-width: 60%;
}

body, .container, .item{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.item {
  flex: 1 0 0vmin;
  flex-direction: column;
  margin: 0 10vmin;
}

p {
  color: white;
  text-shadow: 0px 0px 10vmin #474747;
  font-size: 50vmin;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span.icon {
  font-family: 'Glyphicons Halflings';
  color: white;
  font-size: 10vmin;
}
